footer #gap1 {
  margin-top: 40px;
}

footer #text1 {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 230%;
  text-transform: capitalize;
  color: #fff;
}

footer h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 197.2%;
  text-transform: capitalize;
  color: #fff;
}

footer #text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-transform: capitalize;
  color: #fff;
}

footer i {
  font-size: 30px;
  margin-right: 20px;
}

footer #text3 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 197.2%;
  text-transform: capitalize;
  margin-top: 30px;
  color: #fff;
  text-align: center;
}
